.hero {
	background-color: #210e38;
	background: url('../images/hero-bg.png') no-repeat;
	background-size: cover;
	height: 80vh;
	position: relative;
	overflow: hidden;
	text-align: center;

	// Hero Image
	&__image {
		img {
			width: 284px;
			@media (min-width: to-em($breakpoint-tab)) {
				width: 320px;
			}
		}
	}

	
	// Hero Content
	&__content {
		color: $color-white;
		margin: 18px 0 48px;
		.content {
			letter-spacing: 1px;
		}
		.sub-title {
			font-family: Montserrat-ultralight;
		}
	}

	@media (min-width: to-em($breakpoint-tab)) {
		.title {
			font-size: 36px;
			line-height: 42px;
		}
		.sub-title {
			font-size: 24px;
			line-height: 30px;
		}
	}

	@media (min-width: to-em($breakpoint-laptop)) {
		.hero__content {
			margin-top: 176px;
		}
		.hero__image {
			margin-top: 70px;
		}
	}
	
	// Huhuba Logo
	.logo {
		width: 100px;
		height: 100px;
	}
}

.section {
	width: 100%;
	margin-top: 60px;
	position: relative;
	overflow: hidden;
}

// Section 1 Personalised app
.personalised-img {
	background: url("../images/device-publish.png") no-repeat;
  background-position: right center;
  background-size: 692px;
}

.img-container.personalised-img {
	left: 0
} 

// Section 2 Publish app
.publish-img {
	background: url("../images/publish-collage.png") no-repeat;
  background-position: left center;
  background-size: 692px;
}

.img-container.publish-img {
	right: 0
} 

.img-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	min-width: 1140px;
} 

.content-wrapper {
	display: table;
	height: 100vh;
	.content {
		display: table-cell;
		vertical-align: middle;
		p {
			max-width: 439px;
		}
		h2 {
			margin-bottom: 12px;
		}
	}
}
