.hero {
	background-color: #210e38;
	background: url('../images/hero-bg.png') no-repeat;
	background-size: cover;
	height: 80vh;
	position: relative;
	overflow: hidden;
	text-align: center;

	// Hero Image
	&__image {
		img {
			width: 284px;
			@media (min-width: to-em($breakpoint-tab)) {
				width: 320px;
			}
		}
	}

	// Hero Content
	&__content {
		color: $color-white;
		margin: 18px 0 48px;
		.content {
			letter-spacing: 1px;
		}
		.sub-title {
			font-family: Montserrat-ultralight;
		}
		.download-app {
			margin-top: 42px;
		}
		.playstore-icons {
			a {
				display: inline-block;
				border: 1px solid $color-brand-primary;
				padding: 6px 12px;
				margin-right: 6px;
				border-radius: 5px;
				opacity: 0.8;
				transition: all 0.25s ease;
				&:hover {
					opacity: 1;
				}
			}
			.google-play {
				padding: 6px 10px 6px 12px;
			}
			img {
				height: 25px;
			}
		}
	}

	@media (min-width: to-em($breakpoint-tab)) {
		.title {
			font-size: to-em($font-size-h2);
			line-height: 42px;
		}
		.sub-title {
			font-size: 24px;
			line-height: 30px;
		}
	}

	@media (min-width: to-em($breakpoint-laptop)) {
		.hero__content {
			margin-top: 176px;
		}
		.hero__image {
			margin-top: 70px;
		}
		.margin-bottom-laptop-reset {
			margin-bottom: 0;
		}
	}
	
	// Huhuba Logo
	.logo {
		width: 100px;
		height: 100px;
	}
}

.section {
	width: 100%;
	margin-top: 60px;
	position: relative;
	overflow: hidden;
}

// Section 1 Personalised app
.personalised-img {
	background: url("../images/device-publish.png") no-repeat;
  background-position: right center;
  background-size: 692px;
}

.img-container.personalised-img {
	left: 0;
} 


// Features section
.feature-image {
	margin-bottom: 24px;
	img {
		height: 80px;
		width: 80px;
	}
}
.feature-content {
	h4 {
		margin-bottom: 12px;
	}
}


// Section 2 Publish app
.publish-img {
	background: url("../images/publish-collage.png") no-repeat;
  background-position: left center;
  background-size: 692px;
}

.img-container.publish-img {
	right: 115px;
} 

.img-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	min-width: 1140px;
} 

.content-wrapper {
	display: table;
	height: 100vh;
	.content {
		display: table-cell;
		vertical-align: middle;
		p {
			max-width: 439px;
		}
		h3 {
			margin-bottom: 12px;
		}
	}
}

// footer
.footer {
	background-color: #f4f4f4;
	padding: 24px;
	text-align: center;
	.connect {
		color: $color-text-secondary;
		margin-bottom: 6px;
		font-size: 14px;
		a {
			color: $color-text-tertiary;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.social-group{
		a{
			display: block;
	    border-radius: 50%;
	    width: 30px;
	    height: 30px;
	    border: 1px solid $color-brand-primary;
	    color: $color-brand-primary;
	    opacity: 0.7;
	    -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -webkit-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    &:hover, &:focus{
	    	text-decoration: none;
		    opacity: 1
	    }
		}
	}

	.fa {
		vertical-align: middle;
		line-height: 1.8;
	}
}
