/*================================= FLOAT =================================================*/
.flt-left {
	float: left !important;
}
.flt-right {
  float: right !important;
}

/*================================= TEXT  =================================================*/
.text-uppercase {
	text-transform: uppercase;
}

// Text Colors
.text-color-primary {
	color: $color-text-primary;
}
.text-color-secondary {
	color: $color-text-secondary;
}
.text-color-tertiary {
	color: $color-text-tertiary;
}
.text-brand-primary {
	color: $color-brand-primary;
}

// Text alignment
.txt-center {
	text-align: center;
}

// Font-weights
.font-weight-light {
	font-weight: 100;
}
.font-weight-semibold {
	font-weight: 600;
}

/*================================= SPACING =================================================*/
.margin-bottom-s {
	margin-bottom: 18px;
}
.margin-bottom-m {
	margin-bottom: 24px;
}
.margin-bottom-l{
	margin-bottom: 30px;
}

/*================================= LIST =================================================*/
.list-inline {
	margin: 0;
  padding: 0;
  list-style: none;	
  li {
		display: inline-block;
		margin-right: 6px;
  }
}